
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mandali&family=Pacifico&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: ;
}

body{
    background-color: #303030;
}

/*-----------  INICIA NAVBAR ---------*/

nav .navbar-brand{
    font-size: 1.5em;
}
nav .nav-link{
    font-size: 1.5em;
}

/*-----------  TERMINA NAVBAR ---------*/


/*-----------  INICIA BANNER BIENVENIDA ---------*/

.banner{
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    clip-path: url(#wave);
}


#wave{
    overflow: hidden;
    animation: trasladar 20s linear infinite;
    animation-fill-mode: backwards;
}

@keyframes trasladar {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-1000px);
    }

    100%{
        transform: translateX(0);
    }
    
}

.banner .saludo{    
 font-family: Roboto;
 font-weight: 900;
 font-size: 10em;
 color: white;
 padding: 0 2rem;
 position: absolute;
 display: flex;
 top: 2em;
}


/*-----------  TERMINA BANNER BIENVENIDA ---------*/

/*-----------  EMPIEZA ABOUT ---------*/

.rombo{
    height: 60%;
    position: relative;
}

.form{
    position: absolute;

}

.bg-1{
    height: 100%;
    top: -4em;
    right: 6em;
    z-index: 10;
}

.bg-2{
    height: 100%;
    top: 2em;
    right: 0em;
    z-index: 10;
    animation:desplazamientoB 5s linear infinite both; 
}

.bg-3{
    height: 100%;
    top: 2em;
    right: 15em;
    z-index: 10;
    transform: rotate(15deg);
}

.bg-4{
    height: 100%;
    top: -2em;
    right: 18em;
    z-index: 10;
}

.foto{
    z-index: 50;
}

@keyframes desplazamientoB {
    0%{
        transform: translateX(0);
    }

    26%{
        transform: translateX(5em);
    }

    100%{
        transform: translateY(5em) translateX(-5em);
    }
    
}