
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mandali&family=Pacifico&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: ;
}

/*-----------  INICIA NAVBAR ---------*/



/*-----------  TERMINA NAVBAR ---------*/


/*-----------  INICIA BANNER BIENVENIDA ---------*/

.banner{
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    clip-path: url(#wave);
}

.banner img:hover .saludos{
    transform: scale(0.5);
}


.banner .saludo{    
 font-family: Roboto;
 font-weight: 900;
 font-size: 9em;
 color: white;
 height: 100%;
 padding: 0 2rem;
 background-color: rgba(0, 36, 241, 0.479);

 position: absolute;
 display: flex;
 align-items: center;
}


/*-----------  TERMINA BANNER BIENVENIDA ---------*/
